<!-- <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
        function setUsername(){
            socket.emit('setUsername', document.getElementById('name').value);
        };
        var user;
        socket.on('userExists', function(data){
            document.getElementById('error-container').innerHTML = data;
        });
        socket.on('userSet', function(data){
            user = data.username;
            document.body.innerHTML = '<input type="text" id="message">\
            <button type="button" name="button" onclick="sendMessage()">Send</button>\
            <div id="message-container"></div>';
        });
        function sendMessage(){
            var msg = document.getElementById('message').value;
            if(msg){
                socket.emit('msg', {message: msg, user: user});
            }
        }
        socket.on('newmsg', function(data){
            if(user){
                document.getElementById('message-container').innerHTML += '<div><b>' + data.user + '</b>: ' + data.message + '</div>'
            }
        })
    </script> -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Nego</h1>
        {{#carts}}
        <small>{{ tanggal_buat }}</small>
        <ol class="breadcrumb">
            <li><a href="/cart/nego/{{ id_user }}"><i class="fa fa-shopping-cart"></i> Nego</a></li>
        </ol>
        {{/carts}}
    </section>

    <!-- Main content -->
    <section class="content">

    <div class="col-md-12">
        <h3 class="text-center">Nego Harga</h3>
        <div class="table">            
            <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th width="10px">No</th>
                            <!-- <th width="100px">Gambar</th> -->
                            <th width="150px">Nama Barang</th>
                            <th width="150px">Nama Toko</th>
                            <th width="10px">Jumlah</th>
                            <th width="50px">Harga</th>
                        </tr>
                    </thead>
                    {{#each items}}
                    <tbody>
                        <td>{{ id_product }} </td>
                        <!-- <td><img class="profile-user-img img-responsive img-circle" src="../../{{ gambar_item }}"></td> -->
                        <td>{{ nama_product }}</td>
                        <td>{{ nama_seller }}</td>
                        <td>{{ jumlah }}</td>
                        <td>Rp. <input class="txt" type="text" name="txt" value="{{ harga_nego }}" /></td>
                    </tbody>
                    {{/each}}
                    <tbody>
                        <!-- <td></td> -->
                        <td></td>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        {{#carts}}
                        <div>
                        <td id="total"><span id="sum">0</span></td>
                        </div>
                        {{/carts}}
                    </tbody>
                    <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                        <td><div class="input-group pull-right"><button type="button" class="btn btn-success">Nego Harga</button></div></td>
                    </tbody>
            </table>
        </div>
    </div>
    </section>
    <section class="content">       
    
    <div class="col-md-6"></div>
    <div class="col-md-4">
    {{#carts}}
        <center>
            <a href="#" class="add-cart">
                <span class="btn btn-primary" aria-hidden="true">Setuju</span>
            </a>
            <a href="/cart/list/{{ id_user }}" class="add-cart">
                <span class="btn btn-danger" aria-hidden="true">Batal</span>
            </a>
        </center>
    {{/carts}}
    </div>

    <div class="col-md-12">
    <div class="clearfix"></div>
    <h3 class="text-center">Chat Harga</h3>
        <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-comment"></span> Chat</div>
        <ul class="chat">
            <li class="left clearfix">
                <span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong> 
                        <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                        </small>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
                </div>
            </li>
        </ul>
        
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="tulis pesan" />
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">Kirim</button>
                </span>
            </div>
        </div>
            <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
            <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
            <script>
              var socket = io();
              $('form').submit(function(){
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
              });
              socket.on('chat message', function(msg){
                $('#messages').append($('<li>').text(msg));
              });
            </script>
        </div>
    </div>   
    <div class="clearfix"></div>
    </section>
</div>

{{#carts}}
<script type="text/javascript">
    var number = {{total_harga}};
    document.getElementById("total").innerHTML = "Rp. <span id=sum>"+number.toLocaleString()+"</span>";
</script>
{{/carts}}