
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Keranjang</h1>
        {{#carts}}
        <small>{{ tanggal_buat }}</small>
        <ol class="breadcrumb">
            <li><a href="/cart/list/{{ id_user }}"><i class="fa fa-shopping-cart"></i> Keranjang</a></li>
        </ol>
        {{/carts}}
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-12 box-body">
            <div class="table">
                <table class="table table-bordered table-hover table-striped" id="container">
                    <thead>
                        <tr>
                            <th width="5px"></th>
                            <th width="10px">No</th>
                            <th width="100px">Gambar</th>
                            <th width="150px">Nama Barang</th>
                            <th width="150px">Nama Toko</th>
                            <th width="10px">Jumlah</th>
                            <th width="50px">Harga</th>
                            <th width="10px">Hapus</th>
                        </tr>
                    </thead>
                    {{#each items}}
                    <tbody id="container">
                        <td><input type="CHECKBOX" name="pilih"></td>
                        <td>{{ id_product }} </td>
                        <td><img class="profile-user-img img-responsive img-circle" src="/uploads/{{ gambar_item }}"></td>
                        <td>{{ nama_product }}</td>
                        <td>{{ nama_seller }}</td>
                        <td>{{ jumlah }}</td>
                        <td>Rp. {{ harga_nego }}</td>
                        <td>
                            <form action="/cart/delete/{{ _id }}/{{ id_dumpitem }}" >
                                <button id="button-2"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </form>                 
                        </td>
                    </tbody>
                    {{/each}}
                    <tbody>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        {{#carts}}
                        <div>
                        <td id="total"></td>
                        </div>
                        {{/carts}}
                        <td></td>
                    </tbody>
                </table>
                <div class="col-md-8"></div>
                {{#carts}}
                <a href="/cart/nego/{{ id_user }}" class="add-cart">
                    <span class="btn btn-info" aria-hidden="true">NEGO</span>
                </a>
                <a href="/cart/checkout/{{ id_user }}" class="add-cart">
                    <span class="btn btn-info" aria-hidden="true">CHECKOUT</span>
                </a>
                {{/carts}}
                {{#dumpcarts}}
                <a href="/chat/nego/{{ id_user }}/{{ id_seller }}/{{ _id }}" class="add-cart">
                    <span class="btn btn-info" aria-hidden="true">TEST</span>
                </a>
                {{/dumpcarts}}
                
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{#carts}}
<script type="text/javascript">
    var number = {{total_harga}};
    document.getElementById("total").innerHTML = "Rp. "+number.toLocaleString();
</script>
{{/carts}}

