  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Pemesanan
      </h1>
      <ol class="breadcrumb">
        <li><a href="index2.html"><i class="fa fa-dashboard"></i> Beranda</a></li>
        <li class="active">Pemesanan</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <caption>List Data Pemesanan</caption>
              <thead>
                <tr>
                  <th width="10px">No</th>
                  <th width="50px">Tanggal</th>
                  <!-- <th width="100px">Nama Pemesan</th> -->
                  <th width="150px">Nama Barang</th>
                  <th width="10px">Jumlah</th>
                  <th width="100px">Harga</th>
                  <!-- <th width="10px">Bayar</th> -->
                  <!-- <th width="120px">Keterangan</th> -->
                  <!-- <th width="150px">Alamat Pengiriman</th> -->
                </tr>
              </thead>
              {{#each items}}
              <tbody>
                  <td>{{_id}}</td>
                  <td>{{  tanggal_pesan }}</td>
                  <!-- <td>Sri Wahyuningtyas</td> -->
                  <td>{{ nama_product }}</td>
                  <td>{{ jumlah }}</td>
                  <td>Rp. {{ harga_nego }}</td>
                  <!-- <td>Belum</td> -->
                  <!-- <td>Belum dikirim</td> -->
                 <!--  {{#alamats}}
                  <td>{{ alamat_jalan_penerima }}, {{ alamat_kecamatan_penerima }}, {{ alamat_kota_penerima }}, {{ alamat_kabupaten_penerima }}, {{ alamat_provinsi_penerima }}, {{ alamat_kode_pos_penerima }}</td>
                  {{/alamats}} -->
              </tbody>
              {{/each}}
          </table>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->