<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Profile</h1>
        {{#profile_buyer}}
        <ol class="breadcrumb">
            <li><a href="/seller/dashboard/{{ id_user }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Profile</li>
        </ol>
        {{/profile_buyer}}
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
            {{#profile_buyer}}
            <!-- Profile Image -->
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">
                    <h3 class="profile-username text-center">{{ nama_user }}</h3>
                </div>
            <!-- /.box-body -->
            {{/profile_buyer}}
            <!-- About Me Box -->
                <div class="col-md-12 box-body">
                    <div class="box box-primary">
                        <div class="box-header with-border"><h3 class="box-title">About Me</h3></div>
            <!-- /.box-header -->
                        <div class="box-body">
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Alamat</strong>
                            {{#alamat_buyer}}
                               <p class="text-muted">{{ alamat_jalan }}, {{ alamat_kecamatan }}, {{ alamat_kota }}, {{ alamat_kabupaten }}, {{ alamat_provinsi }}, {{ alamat_kode_pos }}</p>
                            {{/alamat_buyer}}
                                <hr><strong><i class="fa  fa-phone margin-r-5"></i>No. Telp</strong>
                            {{#profile_buyer}}
                                <p class="text-muted">{{ no_telp_user }}</p>
                            {{/profile_buyer}}
            
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <div class="col-md-8">
                    {{#users}}
                        <p><a href="/seller/pengaturan/{{ _id }}" class="btn btn-primary">Update</a></p>
                    {{/users}}
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->