<script type="text/javascript">
	$(function(){
		$('#products').slides({
			preload: true,
			preloadImage: '/images/loading.gif',
			effect: 'slide, fade',
			crossfade: true,
			slideSpeed: 350,
			fadeSpeed: 500,
			generateNextPrev: true,
			generatePagination: false
		});
	});
</script>
  

<div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="back-links">
    		{{#product}}
    			<p><a href="/">Beranda</a> >>>> <a href="/category/{{category_product}}">{{category_product}}</a></p>
    		{{/product}}
    	    </div>
    		<div class="clear"></div>
    	</div>
    	<div class="section group">
			<div class="cont-desc span_1_of_2">
				<div class="product-details">				
					<div class="grid images_3_of_2">
						<div id="container">
						   	<div id="products_example">
							<div id="products">
								<div class="slides_container">
									<a href="index.html" target="_blank"><img src="images/Samsung-Galaxy-C7-Pro.jpg" alt=" " /></a>
								</div>
							</div>
							</div>
						</div>
					</div>
					{{#product}}
					<div class="desc span_3_of_2">
						<h1>{{ name_product }}</h1>
						<p align="justify">{{ description_product }}</p>					
						<div class="price">
							<input type="hidden" name="harga" value={{ price_product }}>
							<p><h2>Harga: <span>Rp {{ price_product }}</span></h2></p>
						</div>
						<div class="available">
							Jumlah Tersedia : {{ entity_product }} <br>
							Masukkan Jumlah yang ingin di pesan : <input type="number" name="jumlah" min=1 max={{ entity_product }}>
						</div>
						<div class="share-desc">
							<form class="form-horizontal" method="post" action="/cart/add/{{ _id }}">
		      					<button type="submit" class="add-cart" >Tambah Ke Keranjang</button>
							</form>
							<form class="form-horizontal" method="post" action="/cart/nego/{{ _id }}">
		      					<button type="submit" class="add-cart" >Nego</button>
							</form>				
							<div class="clear"></div>
						</div>
					</div>
					{{/product}}
					<div class="clear"></div>
				</div>
		
			    <script type="text/javascript">
				    $(document).ready(function () {
				        $('#horizontalTab').easyResponsiveTabs({
				            type: 'default', //Types: default, vertical, accordion           
				            width: 'auto', //auto or any width like 600px
				            fit: true   // 100% fit in a container
				        });
				    });
			   	</script>		
   		   		<div class="content_bottom">
		    		<div class="heading"><h3>Related Products</h3></div>
		    		<div class="see"><p><a href="/seller/product/all">Lihat Semua Produk</a></p></div>
		    		<div class="clear"></div>
		    	</div>
   		   		<div class="section group">
			    	{{#each products}}
					<div class="grid_1_of_4 images_1_of_4">
						<a href="/product/{{ _id }}"><img src='/uploads/{{ picture_product }}'></a><h2>{{ name_product }}</h2>
						<div class="price-details">
						    <div class="price-number"><p><span class="rupees">Rp.{{ price_product }}</span></p></div>
							<form class="form-horizontal" method="post" action="/cart/add/{{ _id }}">
		      					<button type="submit" class="add-cart" >Tambah Ke Keranjang</button>
							</form>
							<div class="clear"></div>
						</div>	 
					</div>
					{{/each}}
				</div>
    		</div>
    		{{#sellerprofile}}
    		{{/sellerprofile}}

    		{{#users}}
    		{{/users}}
    		<table>    		
		    	<tr><th><h3>INFORMASI TOKO</h3></th></tr>
		    	{{#selleralamat}}
	    		<tr><td><h3>{{ nama_toko }}</h3></td></tr>
	    		<tr><td><h5>{{ no_telp_kantor }}</h5></td></tr>
	    		{{/selleralamat}}
	    		{{#onlines}}
    			<tr><td><h3>{{status}}<img src="images/Indomobile.jpg" alt=""></h3></td></tr>
    			{{/onlines}}
   			</table>
 		</div>
 	</div>
</div>

<script type="text/javascript">
	function kali() {
		a=eval(form.angka1.value);
		b=eval(form.angka2.value);
		c=a*b
		form.total.value = c;
	}
</script>