<script type="text/javascript">
	$(function(){
		$('#products').slides({
			preload: true,
			preloadImage: '/images/loading.gif',
			effect: 'slide, fade',
			crossfade: true,
			slideSpeed: 350,
			fadeSpeed: 500,
			generateNextPrev: true,
			generatePagination: false
		});
	});
</script>
  

<div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="back-links">
    		{{#product}}
    			<p><a href="/">Home</a> >>>> <a href="/category/{{category_product}}">{{category_product}}</a></p>
    		{{/product}}
    	    </div>
    		<div class="clear"></div>
    	</div>
    	<div class="section group">
			<div class="cont-desc span_1_of_2">
				<div class="product-details">				
					<div class="grid images_3_of_2">
						<div id="container">
						   	<div id="products_example">
							<div id="products">
								<div class="slides_container">
									<a href="index.html" target="_blank"><img src="images/Samsung-Galaxy-C7-Pro.jpg" alt=" " /></a>
								</div>
							</div>
							</div>
						</div>
					</div>
					{{#product}}
					<div class="desc span_3_of_2">
						<h1>{{ name_product }}</h1>
						<p><h3>{{ description_product }}</h3></p>					
						<div class="price">
							<p><h2>Price: <span>Rp {{ price_product }}</span></h2></p>
						</div>
						<div class="available">
							<p>Available Options :</p>
							<ul>
								<li>JUMLAH:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select>
									<option>{{ entity_product }}</option>
								</select></li>
							</ul>
						</div>
						<div class="share-desc">
							<!-- <div class="share">
								<br><br><br>
								<p>Share Product :</p>
								<ul>
							    	<li><a href="#"><img src="images/fb.png" alt="" /></a></li>
							    	<li><a href="#"><img src="images/twiter.png" alt="" /></a></li>					    
					    		</ul>
							</div> -->
							<div class="button">
								<span><a href="#">beli</a></span>
							</div>	&nbsp&nbsp&nbsp&nbsp&nbsp
							<div class="button">
								<span><a href="#">nego</a></span>
							</div>				
							<div class="clear"></div>
						</div>
					</div>
					{{/product}}
					<div class="clear"></div>
				</div>
		
			    <script type="text/javascript">
				    $(document).ready(function () {
				        $('#horizontalTab').easyResponsiveTabs({
				            type: 'default', //Types: default, vertical, accordion           
				            width: 'auto', //auto or any width like 600px
				            fit: true   // 100% fit in a container
				        });
				    });
			   	</script>		
   		   		<div class="content_bottom">
		    		<div class="heading"><h3>Related Products</h3></div>
		    		<div class="see"><p><a href="/seller/product/all">See all Products</a></p></div>
		    		<div class="clear"></div>
		    	</div>
   		   		<div class="section group">
			    	{{#each products}}
					<div class="grid_1_of_4 images_1_of_4">
						<a href="/product/{{ _id }}"><img src='/uploads/{{ picture_product }}'></a><h2>{{ name_product }}</h2>
						<div class="price-details">
						    <div class="price-number"><p><span class="rupees">Rp.{{ price_product }}</span></p></div>
							<div class="add-cart"><h4><a href="#">Add to Cart</a></h4></div>
							<div class="clear"></div>
						</div>	 
					</div>
					{{/each}}
				</div>
    		</div>
    		<table>
    		{{#sellerprofile}}
    		{{/sellerprofile}}
    		{{#selleralamat}}
    		{{/selleralamat}}
		    	<tr><th><h3>INFORMASI TOKO</h3></th></tr>
    			<tr><td><h3>ONLINE<img src="images/Indomobile.jpg" alt=""></h3></td></tr>
   			</table>
 		</div>
 	</div>
</div>