<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
	  	<h1>Profil</h1>
	  	{{#profile_seller}}
	  	<ol class="breadcrumb">
			<li><a href="/seller/dashboard/{{ id_user }}"><i class="fa fa-dashboard"></i> Beranda</a></li>
			<li class="active">Profil</li>
	  	</ol>
	  	{{/profile_seller}}
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
		  	{{#profile_seller}}
		  	<!-- Profile Image -->
				<div class="box-body box-profile">
			  		<img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">
					<h3 class="profile-username text-center">{{ nama_user }}</h3>
				</div>
			<!-- /.box-body -->
			{{/profile_seller}}
			<!-- About Me Box -->
		  		<div class="col-md-12 box-body">
		  			<div class="box box-primary">
						<div class="box-header with-border"><h3 class="box-title">Tentang Saya</h3></div>
			<!-- /.box-header -->
						<div class="box-body">
							{{#alamat_seller}}
							<strong><i class="fa  fa-phone margin-r-5"></i>Nama Toko</strong>
			  					<p class="text-muted">{{ nama_toko }}</p>

							<hr><strong><i class="fa fa-map-marker margin-r-5"></i> Alamat</strong>							
								<p class="text-muted">{{ alamat_jalan }}, {{ alamat_kecamatan }}, {{ alamat_kota }}, {{ alamat_kabupaten }}, {{ alamat_provinsi }}, {{ alamat_kode_pos }}</p>
			  				
			  				<hr><strong><i class="fa  fa-phone margin-r-5"></i>No. Telp Toko</strong>
			  					<p class="text-muted">{{ no_telp_kantor }}</p>
			  				{{/alamat_seller}}

			  					<hr><strong><i class="fa  fa-phone margin-r-5"></i>No. HP</strong>
			  				{{#profile_seller}}
			  					<p class="text-muted">{{ no_telp_user }}</p>
			  				{{/profile_seller}}
			
						</div>
						<!-- /.box-body -->
		  			</div>
		  			<!-- /.box -->
		  			<div class="col-md-8">
	                {{#users}}
	                    <p><a href="/seller/pengaturan/{{ _id }}" class="btn btn-primary">Ubah</a></p>
	                {{/users}}
	                </div>
		  		</div>
			</div>
			<!-- /.col -->
	  	</div>
	  	<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->