  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Pemesanan
      </h1>
      <ol class="breadcrumb">
        <li><a href="index2.html"><i class="fa fa-dashboard"></i> Beranda</a></li>
        <li class="active">Pemesanan</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <caption>List Data Pemesanan</caption>
              <thead>
                <tr>
                  <th width="20%">No</th>
                  <th width="20%">Tanggal Buat</th>
                  <th width="20%">Total Harga</th>
                  <th width="20%">Status Pembayaran</th>
                  <th width="20%">Status Pengiriman</th>
                  <th width="20%">Tanggal Pembayaran</th>
                  <th width="20%">Tanggal Pengiriman</th>
                  <th width="20%">Tanggal Selesai</th>
                  <th width="20%">List Pemesanan</th>
                </tr>
              </thead>
              {{#each carts}}
              <tbody>
                  <td>{{ _id }}</td>
                  <td>{{ tanggal_buat }}</td>
                  <td>{{ total_harga }}</td>
                  <td>{{ status_pembayaran }}</td>
                  <td>{{ status_pengiriman }}</td>
                  <td>{{ tanggal_pembayaran }}</td>
                  <td>{{ tanggal_pengiriman }}</td>
                  <td>{{ tanggal_selesai }}</td>
                  <td>
                    <a href="/seller/listpemesanan/{{ id_seller }}/{{ _id }}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                  </td>
              </tbody>
              {{/each}}
          </table>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {{#each carts}}
  <script type="text/javascript">
        var currDay = {{ tanggal_buat }}.getDay();
        var currMonth = {{ tanggal_buat }}.getMonth();
        var currYear = {{ tanggal_buat }}.getYear();
        
  </script>
 {{/each}}